<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{'categories' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">166 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Vegetables & Fruits <span class="end ion-text-end">72 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="editcategory()">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/c5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2 class="d-flex">Bakery & Dairy Products <span class="end ion-text-end">126 items</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
	<ion-fab-button (click)="editcategory()">
		+
	</ion-fab-button>
</ion-fab>