.banner {
    max-width: 346px;
    margin: 20px auto 30px auto;
}

.container {
    width: calc(100% - 40px);
    margin: 0 auto;

    h1 {
        margin: 0;
        font-weight: 500;
        font-size: 1.75rem;
        padding-bottom: 17px;
        color: var(--text-dark);
    }

    h2 {
        font-size: .95rem;
        margin: 0;
        font-weight: 500;
        letter-spacing: 0.7px;
        color: var(--text-dark);
    }
}