<ion-header>
    <ion-toolbar>
        <ion-title> {{"more" | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner d-flex" (click)="my_profile()">
        <div class="img_box center_img">
            <img src="assets/imgs/face.png" class="crop_img">
        </div>
        <div class="text_box">
            <h2>Sam Smith</h2>
            <h3 class="d-flex"> 987 654 3210
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
            </h3>
        </div>
    </div>
    <div *ngIf="config.showBuyPromt" (click)="buyappalert()" class="buy_this_app">
        <h2>
            {{"buy_this_app" | translate}}
        </h2>
    </div>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item (click)="my_orders()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-storage ion-text-start"></ion-icon>
                <h2> {{'My_Orders' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="my_address()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                <h2> {{'My_address' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="faq()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-assignment-check ion-text-start"></ion-icon>
                <h2> {{'faqs' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="contact_us()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                <h2> {{'Contact_us' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="chat_with_us()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-comments ion-text-start"></ion-icon>
                <h2> {{'chat_with_us' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="terms_conditions()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-assignment-alert ion-text-start"></ion-icon>
                <h2> {{'Terms_Conditions' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="change_language()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-globe ion-text-start"></ion-icon>
                <h2> {{'change_language' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item (click)="sign_in()">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-open-in-new ion-text-start"></ion-icon>
                <h2> {{'Logout' | translate}}</h2>
            </div>
        </ion-item>
    </ion-list>


</ion-content>

<ion-footer class="ion-no-border">
    <div class="developed_by d-flex" (click)="developed_by()" *ngIf="config.showBuyPromt">
        <h2>{{"developed_by" | translate}}</h2>
        <div class="img_box">
            <img src="assets/imgs/opus.png">
        </div>
    </div>
</ion-footer>