<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{'messages' | translate}}</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item>
        
        <ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item><ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/1.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Samantha Smith </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">11:40 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="active" (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/2.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Celena Taylor </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 11:40 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/3.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Gerogia Willamson </span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:59 am</span>
					</h2>
					<p> Thanks for your help sir. Great experience with support team.</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/4.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Peter Smith</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:13 am</span>
					</h2>
					<p> No worry, We will arrange your order as soon as possible sir.</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/5.png" class="crop_img">
				</div>
--> 
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Rahunk Patel</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">Today 10:00 am</span>
					</h2>
					<p>Can you guide me How can I place order of new holas speak</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="chats()">
			<div class="item_inner d-flex">
<!--
				<div class="img_box center_img">
					<img src="assets/imgs/6.png" class="crop_img">
				</div>
-->
				<div class="text_box">
					<h2 class="d-flex">
						<span class="name">Linda Hopeson</span>
						<ion-icon class="ion-text-center zmdi zmdi-circle"></ion-icon>
						<span class="end ion-text-end">15 Jun,2020 9:30am</span>
					</h2>
					<p>Sorry, We don't have that product in stock.</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
