<ion-header>
	<ion-toolbar>
		<ion-title>{{"earnings" | translate}}</ion-title>
	</ion-toolbar>
	<div class="banner">
		<h1 class="ion-text-center">$ 168.50</h1>
	</div>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22115054</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 29.00</h2>
						<p>Paid via Card</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 07.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<ion-row>
					<ion-col size="5" class="ion-text-start">
						<h2>{{"order_no" | translate}} 22145052</h2>
						<p>{{"laundry_deliverd" | translate}}</p>
					</ion-col>
					<ion-col size="4" class="payment-type ion-text-end">
						<h2>$ 35.00</h2>
						<p>Cash Collected</p>
					</ion-col>
					<ion-col size="3" class="earned ion-text-end">
						<h2>$ 08.00</h2>
						<p>{{"earned" | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
	</ion-list>
</ion-content>