<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'Forgot_Password' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form">
        <p class="ion-text-center">{{'Forgot_Password_message' | translate}} </p>

        <ion-list lines="none">
            <ion-item lines="none">
                <!--                    <ion-label position="fixed">{{'mobile_number' | translate}}</ion-label>-->
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                    <div class="input_box">
                          <ion-label position="floating">{{'Enter_Email_Address' | translate}}</ion-label>
                        <ion-input mode="email"></ion-input>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-button size="large" shape="block" class="btn" (click)="verification()">
            {{'Submit' | translate}}
        </ion-button>
    </div>
</ion-content>