<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{"contact_us" | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner d-flex">
				<div class="text_box">
					<p>{{"call_us" | translate}}</p>
					<h2>+1 987 654 3210</h2>
				</div>
				<ion-icon class="zmdi zmdi-phone ion-text-center end"></ion-icon>
			</div>
		</ion-item>


		<ion-item>
			<div class="item_inner d-flex">
				<div class="text_box">
					<p>{{"mail_us" | translate}}</p>
					<h2>help@grocerworld.com</h2>
				</div>
				<ion-icon class="zmdi zmdi-email ion-text-center end"></ion-icon>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner d-flex">
				<div class="text_box">
					<p> {{"reach_us" | translate}}</p>
					<h2> QuickWash Tower <br> 1024, Old Church Street, <br>New York, USA</h2>
				</div>
				<ion-icon class="zmdi zmdi-navigation ion-text-center end"></ion-icon>
			</div>
		</ion-item>
	</ion-list>
</ion-content>