<ion-header>
	<ion-toolbar>
		<ion-title>{{"notification" | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Delivery Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2 class="d-flex">
					<span class="item_title">New Pick up Assigned</span>
					<span class="end ion-text-end">22 June, 12:07 pm</span>
				</h2>
				<p>You have received new order 3867.</p>
			</div>
		</ion-item>
	</ion-list>
</ion-content>