<!--
<ion-header>
  <ion-toolbar>
    <ion-title>promocode</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content >
	<div class="form">
		<ion-list lines="none">
			<h2 class="ion-text-center">{{'add_promo_code' | translate}}</h2>
			<ion-item lines="none">
				<ion-input type="text"  placeholder="{{'enter_promo_code_here' | translate}}"></ion-input>
			</ion-item>
		</ion-list> 
		<ion-button size="large" expand="block" class="btn" (click)="dismiss()">{{'Submit' | translate}}</ion-button>
	</div>
</ion-content>

