<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title-inner d-flex">
                {{"Offers" | translate}}
                <span class="end"> {{"Tap_to_copy" | translate}}</span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3>Get 1 Dry Clean free on <br> 2 Dry Clean Order</h3>
                <h4 class="end" (click)="copyOffer()">Newfree3</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Upto 20% Discount on Credit Card Payment</h3>
                <h4 class="end" (click)="copyOffer()">Credit20</h4>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <h3>Summer Offer: Pay for Wash & get Ironed Free</h3>
                <h4 class="end" (click)="copyOffer()">Freeiron</h4>
            </div>
        </ion-item>
    </ion-list>
</ion-content>