.form {
    padding-top: 35px;

    p {
        margin: 0;
        font-size: 0.91rem;
        margin-bottom: 50px;
        font-weight: 500;
        letter-spacing: 0;
    }

    ion-list {
        margin-bottom: 15px;
    }
}