<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="deliveries">
      <ion-icon class="zmdi zmdi-truck"></ion-icon>
<!--      <ion-label>Tab 1</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon class="zmdi zmdi-notifications"></ion-icon>
<!--      <ion-label>Tab 2</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="earnings">
      <ion-icon class="zmdi zmdi-money-box"></ion-icon>
<!--      <ion-label>Tab 3</ion-label>-->
    </ion-tab-button>  
	  
	  <ion-tab-button tab="account">
      <ion-icon class="zmdi zmdi-menu"></ion-icon>
<!--      <ion-label>Tab 3</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
