<ion-header>
    <ion-toolbar>
        <ion-title>
            {{"Notification" | translate}}
        </ion-title>
    </ion-toolbar>
        <div *ngIf="config.showBuyPromt" (click)="buyappalert()" class="buy_this_app">
        <h2>
            {{"buy_this_app" | translate}}
        </h2>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/confirmed.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Confirmed <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 12541254 is confirmed now.<br> pick up guy will reach on selected date & time.</h4>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/imgs/dispatched.png">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Order Ready to Deliver <span class="end">12:07 pm</span></h3>
                    <h4>Your order No. 2234244 is rady to dispatch now.<br> kindaly be at plase to collect the delivery.</h4>
                </div>
            </div>
        </ion-item>


    </ion-list>
</ion-content>