<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Celena Taylor
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="chat_container d-flex">
        <div class="chat_box d-flex received">
            <div class="chat">
                <h2>Hello. There?</h2>
                <p>Today 11:40 am</p>
            </div>
        </div>


        <div class="chat_box d-flex send">
            <div class="chat">
                <h2>Hello Sir, <br>How may help you?</h2>
                <p>Today 11:40 am</p>
            </div>
        </div>

        <div class="chat_box d-flex received">
            <div class="chat">
                <h2>I want red dragon fruit in fresh condition.</h2>
                <p>Today 11:40 am</p>
            </div>
        </div>

        <div class="chat_box d-flex send">
            <div class="chat">
                <h2>Sorry, We don't have that <br>product in stock.</h2>
                <p>Today 11:40 am</p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="form">
        <ion-list lines="none d-flex">
            <ion-item lines="none">
                <ion-input type="text" placeholder="{{'enter_your_message' | translate}}"></ion-input>
            </ion-item>
            <div class="send_btn end">
                <ion-icon class="zmdi zmdi-mail-send"></ion-icon>
            </div>
        </ion-list>
    </div>
</ion-footer>