ion-card {
    margin: 0;
    padding: 20px 23px;
    background: var(--white);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 5px;

    .banner {
        ion-row {
            margin: 0 -5px;
            align-items: center;

            ion-col {
                padding: 0 5px;

                img {
                    max-width: 120px;
                }

                h3 {
                    margin: 0;
                    color: var(--text-light);
                    font-weight: 400;
                    font-size: 1rem;
                    padding-bottom: 6px;
                    letter-spacing: .3px;
                }

                h2 {
                    margin: 0;
                    color: var(--primary);
                    font-size: 1rem;
                    letter-spacing: .5px;
                }
            }
        }
    }

    &.info {
        ion-row {
            margin: 0 -5px;
            padding-bottom: 20px;

            ion-col {
                padding: 0 5px;

                h2 {
                    margin: 0;
                    color: var(--text-light);
                    font-weight: 400;
                    font-size: 1rem;
                    padding-bottom: 6px;
                    letter-spacing: 0.3px;
                }

                h3 {
                    margin: 0;
                    color: var(--text-black);
                    font-weight: 600;
                    letter-spacing: 0;
                    font-size: .95rem;
                    padding-bottom: 6px;
                }

                h4 {
                    margin: 0;
                    color: var(--text-black);
                    font-size: .85rem;
                    font-weight: 400;
                }
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &.item_info {
        margin-bottom: 0;

        h2 {
            margin: 0;
            color: var(--text-light);
            font-weight: 400;
            font-size: 1rem;
            padding-bottom: 6px;
            letter-spacing: 0.3px;
        }

        .item_list {
            .item {
                width: 100%;
                padding: 7px 0px;

                h3 {
                    margin: 0;
                    color: var(--text-black);
                    font-weight: 600;
                    letter-spacing: 0;
                    font-size: .95rem;

                    span {
                        &.quantity {
                            min-width: 20px;
                        }

                        &.multiply {
                            min-width: 20px;
                        }

                        &.item_name {
                            max-width: calc(100% - 50px);
                            overflow: hidden;
                            min-width: 140px;
                        }

                        &.for_this {
                            color: var(--text-light);
                            font-weight: 400;
                            font-size: .83rem;
                        }

                        &.amount {
                            min-width: 49px;

                        }
                    }

                }
            }
        }
    }

//    &.payment_info {
//        padding-top: 10px;
//        margin-bottom: 0;
//
//        h5 {
//            margin: 0;
//            color: var(--text-light);
//            font-weight: 400;
//            font-size: 1rem;
//            padding-bottom: 6px;
//            letter-spacing: 0.3px;
//
//            .end {
//                color: var(--text-black);
//                font-weight: 600;
//                letter-spacing: 0;
//                font-size: .95rem;
//            }
//
//        }
//
//        h2 {
//            margin: 0;
//            color: var(--primary);
//            font-size: 1rem;
//            letter-spacing: 0.5px;
//            padding: 6px 0;
//
//            .end {
//                font-size: 1.32rem;
//            }
//        }
//    }
}


ion-footer {
    ion-card {
        &.promo-code {
            padding-top: 15px;
            padding-bottom: 15px;

            h2 {
                padding: 0;
                color: var(--primary);
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 0;

                ion-icon {
                    font-size: 1.1rem;
                    min-width: 31px;
                }
            }
        }

        &.payment_info {
            margin-bottom: 0;
            padding-bottom: 10px;

            h5 {
                margin: 0;
                color: var(--text-light);
                font-weight: 400;
                font-size: 1rem;
                padding-bottom: 6px;
                letter-spacing: 0.3px;

                .end {
                    color: var(--text-black);
                    font-weight: 600;
                    letter-spacing: 0;
                    font-size: .95rem;
                }

            }

            h2 {
                margin: 0;
                color: var(--primary);
                font-size: 1rem;
                letter-spacing: 0.5px;
                padding: 6px 0;
                font-weight: 600;
                letter-spacing: 0;

                .end {
                    font-size: 1.32rem;
                }
            }
        }
    }

    .button.btn {
        font-size: 1.1rem;
        letter-spacing: 0 !important;
        height: 53px;
    }
}